@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.site-header {
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  width: 65px;
  height: 65px;
}

a {
  color: inherit;
  text-decoration: none;
}

.menu-list {
  display: flex;
  flex-direction: row;
  font-size: 0.9rem;
  align-items: center;
}

.menu-item {
  margin-left: 3em;
}

.menu-button {
  padding: 0.7em 1.3em;
  background-color: #7ae5fd;
  border-radius: 30px;
  text-transform: uppercase;
}

.first-screen {
  width: 100vw;
  height: 100vh;
  background-color: #f1fdff;
  position: relative;
}

.first-screen-heading {
  font-size: 4.5rem;
  color: #9ad2de;
  font-weight: 800;
  text-transform: uppercase;
  position: absolute;
  top: 8rem;
}

.first-screen-text {
  position: absolute;
  top: 25rem;
}

.first-screen-lines {
  position: absolute;
  left: 17em;
}

.first-screen-photo {
  position: absolute;
  left: 10em;
  bottom: 0em;
}
