@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

.site-header {
  width: 100%;
  box-sizing: border-box;
  padding: 6.25rem;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

a {
  color: inherit;
  text-decoration: none;
}

.menu-list {
  display: flex;
  flex-direction: row;
  font-size: 1.1rem;
  align-items: center;
}

.menu-item {
  margin-left: 3.5rem;
}

.menu-button {
  padding: 1.2rem 2rem;
  background-color: #7ae5fd;
  border-radius: 2rem;
  text-transform: uppercase;
}

.first-screen {
  width: 100vw;
  height: 45.5rem;
  background-color: #f1fdff;
  position: relative;
}

.first-screen-heading {
  font-size: 5.5rem;
  color: #9ad2de;
  font-weight: 800;
  text-transform: uppercase;
  position: absolute;
  left: 6.25rem;
  top: 12.5rem;
}

.first-screen-text {
  position: absolute;
  font-size: 1.2rem;
  left: 6.25rem;
  top: 33rem;
}

.first-screen-lines {
  position: absolute;
  right: 0;
  top: 0;
}

.first-screen-photo {
  position: absolute;
  right: 0;
  height: 100%;
}
