@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

.logo {
  width: 65px;
}

nav {
  display: inline;
}

a {
  color: inherit;
  text-decoration: none;
}

.menu-list {
  display: inherit;
}

.menu-item {
  display: inherit;
}

.menu-button {
}
